%h1 Data-Tables
= link_to 'Home', root_path,:class => "btn"
= link_to 'Clear Table', '#',:class => "btn btn-primary", :id => "clear_table_button"
= link_to 'Add a row to table', '#', :class => "btn btn-secondary", :id => "add_row_table"
= link_to 'Destroy Table', '#',:class => "btn btn-primary", :id => "destroy_table_button"

%table#users_list
  %thead
    %tr 
      %th Name
      %th Email
      %th Active
  %tbody
    - @users.each do |d|
      %tr
        %td #{d.name}
        %td #{d.email}
        %td #{d.active}

#of-dataEntryModal-modal.modal.hide.fade
  .modal-header
    %h3 Enter the data
  .modal-body
    %label Name
    =text_field_tag 'name_field'
    %label Email
    =text_field_tag 'email_field'
  .modal-footer
    = link_to 'Ok', '#', :class => "btn", :id => "submit_add_row"

:javascript
  data = [['a', 'b', true], ['c', 'd', false]]
  //for aaSorting
  //var oTable = $('#users_list').dataTable({"aaSorting":[[1,'desc'], [2, 'asc']]})

  //for bsortable
  //var oTable = $('#users_list').dataTable({"aoColumnDefs":[{"bSortable":false, "aTargets":[0]}]});

  //for bFilter
  //var oTable = $('#users_list').dataTable({"bFilter":false});

  //for bSearchable
  //var oTable = $('#users_list').dataTable({"aoColumnDefs":[{"bSearchable":false, "aTargets":[1]}]});

  //for bVisible
  //var oTable = $('#users_list').dataTable({"aoColumnDefs":[{"bVisible":false, "aTargets":[1]}]});

  //for aaData
  //var oTable = $('#users_list').dataTable({"aaData":data, "aoColumnDefs":[{"bSortable":false, "aTargets":[0]}]});

  //for pagination
  //var oTable = $('#users_list').dataTable({"sPaginationType":"full_numbers", "iDisplayLength":2});

  //for ajax
  //var oTable = $('#users_list').dataTable({"bProcessing":true, "sAjaxSource":"/users/load_data", "iDisplayLength":2});

  var oTable = $('#users_list').dataTable();
