%h1 Data-Tables
= link_to 'Home', root_path,:class => "btn"
= link_to 'Clear Table', '#',:class => "btn btn-primary", :id => "clear_table_button"
= link_to 'Add a row to table', '#',:class => "btn btn-secondary", :id => "add_row_table"
= link_to 'Destroy Table', '#',:class => "btn btn-primary", :id => "destroy_table_button"
%table#users_list
  %thead
    %tr 
      %th Name
      %th Email
      %th Active
  %tbody
    - @users.each do |d|
      %tr
        %td #{d.name}
        %td #{d.email}
        %td #{d.active}

.dataEntryModal.modal.hide.fade
  .modal-header
    %h3 Enter the data
  .modal-body
    %label Name
    =text_field_tag 'name_field'
    %label Email
    =text_field_tag 'email_field'
  .modal-footer
    = link_to 'Ok', '#', :class => "btn", :id => "submit_add_row"

:javascript
  var oTable = $('#users_list').dataTable({"aaSorting": [[0,'desc'], [1,'asc']]});
